<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Welcome to our website! </h1>
    <div class="main">
        <h2>
            Sign in
        </h2>
        <div class="inside">
            <form action="/adminAdd" method="post">
                <label for="name">Add a Hero</label> <br />
                <br />
                <input class="" type="text" id="name" name="name" placeholder="Enter the hero's name"><br>
                <input class="" type="text" id="powers" name="powers" placeholder="Enter the hero's powers"><br>
                <input class="" type="text" id="link" name="link" placeholder="Enter the link for a pic "><br>
                <br>
                <input class="submit" type="submit" value="start">
            </form>
            <br><br>

        </div>

</body>

</html>