<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Hey Admin! </h1>
    <div class="main">
        <h2>
            what would you do today?
        </h2>
        <a href="/adminDelete">click here to delete a hero</a>
        <h4> or</h4>
        <a href="/adminAdd">click here to add hero to the table</a>
        <h4>or </h4>
        <a href="/homePage">click here to see the heros that avialable </a>
    </div>


</body>

</html>