<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Welcome to our website of SuperHeros! </h1>
    <div class="main">
        <h2>
            Delete Hero
        </h2>
        <div class="inside">
            <form action="/adminDelete" method="post">
                <label for="name">Remove a Hero by name</label> <br />
                <br />
                <input class="" type="text" id="name" name="name" placeholder="Enter the hero's name"><br>
                <br>
                <input class="submit" type="submit" value="start">
            </form>
            <br><br>

        </div>
</body>

</html>