<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="superHeros.css">
</head>

<body>
    <table id="bord">
        <tr>
            <td>
                name:
            </td>
            <td>
                Superpowers:
            </td>
            <td>
                Photo:
            </td>
        </tr>
        <%for(let i=0; i<info.length;i++){ %>
            <tr>
                <td>
                    <a href="homePage/:<%- info[i].name%> ">
                        <%- info[i].name%>
                    </a>
                </td>
                <td>
                    <%- info[i].superPower%>
                </td>
                <td>
                    <img class="grayImg" src="<%- info[i].photoLink %>" alt="">
                </td>
            </tr>
            <% } %>

                %>

    </table>
</body>

</html>